@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --set-width: calc(4 * 24rem + 3 * 1.5rem);
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--set-width))); }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}
.animate-scroll:hover { animation-play-state: paused; }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
